// --------------------- COLORS

$ui-text-primary:      black;
$ui-text-hover:        #57A4A4;
$ui-text-grey-dark:    #4e4e4e;
$ui-text-grey-medium:  #5c5c5c;
$ui-text-grey-light:   #7c7c7c;

$ui-text-light:        #fefefe;
$ui-text-light-medium: #b9b9b9;

$ui-bg-transparent-light: rgba(0, 0, 0, 0.03);
$ui-bg-grey-light:        #f5f5f5;
$ui-bg-grey-medium:       #e5e5e5;
$ui-bg-dark:              black;

$ui-color-rss:			#F8902E;
$ui-color-facebook:		#39599F;
$ui-color-twitter:		#45B0E3;
$ui-color-dribbble:		#D97AB0;
$ui-color-pinterest:	#CC212C;




// --------------------- SIZES

$ui-burger-height:       37px;
$ui-default-spacing:     25px;
$ui-heading-spacing-top: 38px;
$ui-tablet-spacing:      80px;



// --------------------- BREAKPOINTS

$ui-breakpoint-xxl:		"1400px"; //max-width
$ui-breakpoint-xxl-min:	"1401px"; // min-width

$ui-breakpoint-xl:		"1200px";
$ui-breakpoint-xl-min:	"1201px";

$ui-breakpoint-l:		"992px";
$ui-breakpoint-l-min:	"993px";

$ui-breakpoint-m:		"768px";
$ui-breakpoint-m-min:	"769px";

$ui-breakpoint-s:		"576px";
$ui-breakpoint-s-min:	"577px";

$ui-breakpoint-xs:		"480px";
$ui-breakpoint-xs-min:	"481px";



// --------------------- Z-INDEX

$ui-index-1: 1; // наповзальні елементи в блоці
$ui-index-2: 2; // наповзальні елементи в блоці
$ui-index-3: 3; // наповзальні елементи в блоці
$ui-index-4: 4; // наповзальні елементи в блоці
$ui-index-5: 5; // наповзальні елементи в блоці

$ui-index-6: 6; // darkening and blur masks
$ui-index-7: 7; // sidebars
$ui-index-8: 8; // modals
$ui-index-9: 9; // above-all elements



// --------------------- TRANSITIONS

$ui-transition-default: 0.2s;
